# Virtual environment
venv/
.env/
env/

# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# Operating System files
Thumbs.db
.DS_Store

# Exclude personal images
ImagesAttendance/Harsh Mishra.jpg
